@charset "utf-8";
.Head_FirstPage {
	font-family: Calibri;
	font-size: 40px;
	font-style: italic;
	font-weight:bold;
	color:#06C;
}

.Calibri_Head_Blue {
	font-family: Calibri;
	font-size: 26px;
	color:#06C;
}

.Textbox_White{
	border:1px solid #CCC;
	font-family: Calibri;
	font-size: 18px;
	height:30px;
}



.Button_Login_White{
	border:1px solid #CCC;
	font-family: Calibri;
	font-size: 18px;
	height:30px;
	border-radius:5px 5px 5px 5px;
	color:#333;
	background-color:white;
	cursor:pointer;
	
	 	-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
 		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
		box-shadow: 2px 2px 15px rgba(0,0,0, 0.2);
}

.Button_Red{
	border:1px solid #CCC;
	font-family: Calibri;
	font-size: 14px;
	color:white;
	background-color:red;
	cursor:pointer;
}

.Button_Blue
{
	border: 1px solid #CCC;
	font-family: Calibri;
	font-size: 14px;
	color: white;
	background-color: #000080;
	cursor: pointer;
}

.Button_White{
	border:1px solid #CCC;
	font-family: Calibri;
	font-size: 14px;
	color:gray;
	background-color:white;
	cursor:pointer;
}

.Button_Disable{
	border:1px solid #CCC;
	font-family: Calibri;
	font-size: 14px;
	color:#999999;
	background-color:gray;
	cursor:default;
}

.Master_Header_Text{
	font-family:calibri;
	font-size:20px;
	color:white;
	text-decoration:none;

	}
  
/************ Shortcut Buttons ************/
.Top_Menu_Bar
{
    border-bottom:1px solid #CCCCCC;
    }
    
.shortcut-button {
               
                display: block;
                width: 60px;
                margin: 0 0 10px 0;
                list-style:none;
                }

.shortcut-button span {
                display:block;             
                text-align: center;
                color: #555;
                }

.shortcut-button span img {
                margin-bottom: 5px;
                border:none;
                width:40px;
                height:40px;
                }
               
ul.shortcut-buttons-set
{
    list-style:none;
    }

ul.shortcut-buttons-set li {
                float: left;
                margin: 0px 0px 0px 0px;	
                }
                
ul.shortcut-buttons-set li a{
                text-decoration:none;	
                color:#EEEEEE;
                font-size: 10px;
                font-family:"Segoe UI";
	height: 57px;
}
                                
/************ Shortcut Buttons ************/
    
.LeftMenu_Head{
	font-family:"Segoe UI";
	font-size:16px;
	color:black;
	height:35px;
	margin-left:10px;
	margin-top:12px;
	padding-left:20px;
	background-image:url(../images/MenuRight.png);
	background-position:left;
	background-repeat:no-repeat;

	}
    
    .Left_Header_Link
    {
        color:Black;
        text-decoration:none;
        position:relative;
	    top:5px;
        }

.LeftMenu_Menu{
	font-family:"Segoe UI";
	height:26px;
	margin-left:24px;
	padding-left:20px;
	background-image:url(../images/MenuDown.png);
	background-position:left;
	background-repeat:no-repeat;
	}
	
.Left_Menu_Link{
    font-family:"Segoe UI";
    font-size:14px;
    color:gray;
    height:26px;
    position:relative;
    top:5px;
    text-decoration:none;
    }
    
 .Left_Menu_Link_Red{
    font-family:"Segoe UI";
    font-size:14px;
    color:red;
    height:26px;
    position:relative;
    top:5px;
    text-decoration:none;
    }   

.Fieldset_Container
{
    background-color:White;
    border:2px solid #EEEEEE;
    border-radius :10px 10px 10px 10px;
    padding:-20px 20px 20px 20px;
    margin:20px 0px 10px 10px;
    }
 .Fieldset_Header
 {
     font-family:"Segoe UI";
	    font-size:18px;
	    color:Gray;
	    position:relative;
	    /*top:-15px;*/
	    left:15px;
	    margin-top:-15px;
     }
    
.Caption_Input
{
    font-family:"Tahoma";
    font-size:12px;
	color:Black;
	background-color:White;
	padding-left:10px;
    }
    
 .Textbox_Form_Required{
	border:1px solid #CCC;
	font-family: Tahoma;
	font-size: 12px;
	height:22px;
	background-color:#fdeada;
}

 .Textbox_Form_Disable{
	border:1px solid #CCC;
	font-family: Tahoma;
	font-size: 12px;
	height:22px;
	background-color:Gray;
	color:White;
}

 .Textbox_Form_White{
	border:1px solid #CCC;
	font-family: Tahoma;
	font-size: 12px;
	height:22px;
	background-color:white;
}

 .Dropdown_Form_Required{
	border:1px solid #CCC;
	font-family: Tahoma;
	font-size: 12px;
	height:22px;
	background-color:#fdeada;
	
}

 .Dropdown_Form_White{
	border:1px solid #CCC;
	font-family: Tahoma;
	font-size: 12px;
	height:26px;
	background-color:White;
	
}

.NormalTextBlack
{
    font-family: Tahoma;
    font-size: 12px;
    color:Black;
    font-weight:bold;
    }
 
 .NormalText
{
    font-family: Tahoma;
    font-size: 12px;
    color:Black;
    border:1px solid #CCCCCC;
    }
    
 .NormalTextNoneBorder
{
    font-family: Tahoma;
    font-size: 12px;
    color:Black;
}
         
.Document_Status
{
    font-family: Tahoma;
    font-size: 25px;
    font-weight:bold;
    }
    
 .Grid_Header
 {
     font-family: Tahoma;
     font-size: 12px;
     color:White;
     text-align:center;
     /*background-color:#3333ff;*/
     background-color:Gray;
     padding:5px 5px 5px 5px ;
     height:25px;
     }
 
  .Grid_Detail
 {
     font-family: Tahoma;
     font-size: 12px;
     color:Black;
     background-color:White;
     padding:5px 5px 5px 5px ;
     height:25px;
     }

.Grid_Check_All
{
    font-family: Tahoma;
    font-size: 12px;
    border-radius:3px 3px 3px 3px;
    background-color: white;
    border:  1px solid #EEEEEE;
    width:40px;
    height:25px;
    cursor:pointer;
    }
     
     .Grid_Detail_Form
     {
         text-align: center; 
         font-size: 12px; 
         font-family: Tahoma; 
         border-bottom: #efefef 1px solid;
         }
         
.Grid_Detail_Required
{
     font-family: Tahoma;
     font-size: 12px;
     color:Black;
     background-color:#fdeada;
     padding:5px 5px 5px 5px ;
     height:25px;
    }

  .Grid_Radio
 {
     font-family: Tahoma;
     font-size: 12px;
     color:Black;
     background-color:White;
     padding:5px 5px 5px 5px ;
     height:25px;
     }
     
  .Grid_BG_White
 {
     font-family: Tahoma;
     font-size: 12px;
     color:Black;
     background-color:White;
     padding:5px 5px 5px 5px ;
     height:25px;
     }
     
  .Grid_Header_Small
 {
     font-family: Tahoma;
     font-size: 12px;
     color:white;
     text-align:center;
     background-color:#3333ff;
     padding:5px 5px 5px 5px ;
     height:25px;
     width:auto;
     }
     
/*************** Pagination ***************/

.pagenavigation {
                text-align:left;
                padding: 20px 0 5px 0;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 10px;
                width:100%;
                
                }
.pagenavigation a {
                margin: 0 5px 0 0;
                padding: 3px 6px;
                }

.pagenavigation a.number {
				border: 1px solid #ddd;
                }

.pagenavigation a.current {
                background:gray;
                border-color: #459300 !important;
                color: #fff !important;
                }
				
.pagenavigation a.current:hover {
				text-decoration: underline;
}
/*-----------Mail-------------*/
.file_attachment
{
    border:1px solid #67b6f9; 
    padding: 8px 4px 0px 4px;
    margin-left:5px;
    line-height:30px;
    background-color:#f0fcfa; 
}

.chkBoxList_4_col tr
{
   height:24px;
}

.chkBoxList_4_col td
{
   width:180px; /* or percent value: 25% */
}

.chkBoxList_2_col tr
{
   height:24px;
}

.chkBoxList_2_col td
{
   width:364px; /* or percent value: 25% */
}

.chkBoxList_1_col tr
{
   height:24px;
}

.txtValue
{
   border-width :0px; 
   width:80px; 
   text-align:center; 
   background-color:Transparent;
   border-bottom:solid 1px #CCCCCC;
   font-family: Tahoma; 
   font-size: 12px; 
}

.txtMiltiLineValue
{
   border-width :0px; 
   width:80px; 
   text-align:center; 
   background-color:Transparent;
   border:solid 1px #CCCCCC;
   font-family: Tahoma; 
   font-size: 12px; 
}

	
