﻿body {height:100%;font:13px 'PT Sans', Arial, Tahoma, Verdana, Sans-Serif;color:#626363;background:#fff;}
div, p, ul, ol, li, a, form, img, table, h1, h2, h3, h4, h5, h6, blockquote, header, section, footer, aside, nav, article, figure, figcaption, dl, dt, dd {padding:0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
} 

.footer footer:after {content:'';display:block;height:0;clear:both;}
.footer footer .footer {width:960px;margin:0 auto;position:relative;}
.footer {background:#f6f3f3;border-bottom:5px solid #fff;padding:35px 0;}
.footer footer h3 {font-size:14px;color:#434242;padding:8px 0 26px 0;position:relative;}
.footer footer h3:before {content:'';height:5px;background:#d9d6d7;border-bottom:1px solid #e4e2e2;font-size:0;line-height:0;position:absolute;top:15px;right:0;width:100%;}
.footer footer h3 span {padding-right:8px;background:#f6f3f3;position:relative;z-index:2;}
.footer footer p {padding-bottom:11px;}
	/* bottom about */
.footer footer .bottom_about {float:left;width:212px;padding:0 33px 0 0;}
	/* recent tweets */
.footer footer .recent_tweets {float:left;width:212px;}
.footer footer .recent_tweets ul li {padding:0 0 7px 20px;position:relative;}
.footer footer .recent_tweets ul li:before {content:'';background:url(../images/sprite.png) 0 0 no-repeat;position:absolute;top:6px;left:0;display:block;width:5px;height:5px;}
.footer footer .recent_tweets ul li a, .footer footer .recent_posts ul li a:visited {color:#626363;}
	/* recent posts */
.footer footer .recent_posts {float:left;width:212px;padding:0 36px;}
.footer footer .recent_posts ul li {padding:0 0 7px 20px;position:relative;}
.footer footer .recent_posts ul li:before {content:'';background:url(../images/sprite.png) 0 0 no-repeat;position:absolute;top:6px;left:0;display:block;width:5px;height:5px;}
.footer footer .recent_posts ul li a, .footer footer .recent_posts ul li a:visited {color:#626363;}
/*.footer footer .recent_posts ul li a:hover {color:red;}*/
.footer footer .recent_posts ul li a:hover {color:red;}
	/* subscribe block */
/*.footer footer .subscribe_block {float:left;width:212px;}*/
.footer footer .subscribe_block p {padding:0 0 7px 0;}
.footer footer .subscribe_block p:last-child {text-align:right;}
.footer footer .subscribe_block p input {font:13px 'PT Sans';color:#626363;border:1px solid #c0bebe;background:#f6f3f3;padding:5px 10px;width:190px;}
/*.footer footer .subscribe_block p input[type="submit"] {cursor:pointer;font-weight:bold;font-style:italic;color:red;width:113px;height:42px;padding:0;border:none;background:url(../images/sprite.png) 0 -73px no-repeat;}*/
.footer footer .subscribe_block p input[type="submit"] {cursor:pointer;font-weight:bold;font-style:italic;color:red;width:113px;height:42px;padding:0;border:none;background:url(../images/sprite.png) 0 -73px no-repeat;}
.footer footer .subscribe_block p input[type="submit"]:hover {background-position:-119px -73px;}
	