﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="RenderFile.aspx.vb" Inherits="RenderFile" %>

<head runat="server">
</head>
<body>
    <form id="form1" runat="server">
   
    </form>
</body>
</html>
