﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="CloseJobDocument.aspx.vb" Inherits="CloseJobDocument" %>
<%@ Register src="Document.ascx" tagname="Document" tagprefix="uc1" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="Ajax" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table cellpadding="0" cellspacing="0" width="1000px">
        <tr>
            <td style="height:20px;">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="padding-left:10px;">
                <uc1:Document ID="Document" runat="server"/>
            </td>
        </tr>
    </table>
    
</asp:Content>

