.wrapper {
	position:absolute;	
	width:100%;
	height:100%;
	background-color:Red;
	}

.accordionButton {	
	width:100%;
	cursor: pointer;
	text-align:left;
	background-color:White;
	font-size:12px; font-weight:bold; /*color:#F00; */
	width:100%;
	height:100%;
	color:#999;
	/*border-bottom:1px solid #ccc;*/
	}
 
 .accordionButton .StrechControl{
    width:100%;
	height:100%;
	cursor:pointer;
 }
	
.accordionContent {	
	font-size:12px; font-weight:bold;
	background-color:White;
	display: none;	
	cursor: pointer;
	text-align:left;	
	font-size:12px; 
	font-weight:bold; /*color:#F00; */
	box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.5);
	}
.accordionContent div{
    color:black;  
    background-color:White;  
    width:100%;
    height:auto;
    text-decoration:none;
    text-align:left;
    padding:5px;
    border-top: 1px solid #eee;
    /*border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #ccc;*/
    min-height:20px;
}

.accordionContent div:hover{
    background-color:#faf7da;
}
