@charset "utf-8";
.Head_FirstPage {
	font-family: Calibri;
	font-size: 40px;
	font-style: italic;
	font-weight:bold;
	color:#06C;
}

.Calibri_Head_Blue {
	font-family: Calibri;
	font-size: 26px;
	color:#06C;
}

.Textbox_White{
	border:1px solid #CCC;
	font-family: Calibri;
	font-size: 18px;
	height:30px;
}

.Button_Login_White{
	border:1px solid #CCC;
	font-family: Calibri;
	font-size: 18px;
	height:30px;
	border-radius:5px 5px 5px 5px;
	color:#333;
	background-color:white;
	cursor:pointer;
	
	 	-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
 		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
		box-shadow: 2px 2px 15px rgba(0,0,0, 0.2);
}

.Button_Red{
	border:1px solid #CCC;
	font-family: Calibri;
	font-size: 14px;
	color:white;
	background-color:red;
	cursor:pointer;
	height: 25px;
}

.Button_Green{
	border:1px solid #CCC;
	font-family: Calibri;
	font-size: 14px;
	color:white;
	background-color:green;
	cursor:pointer;
}

.Button_Blue{
	border:1px solid #CCC;
	font-family: Calibri;
	font-size: 14px;
	color:white;
	background-color:#9999ff;
	cursor:pointer;
}

.Button_White{
	border:1px solid #CCC;
	font-family: Calibri;
	font-size: 14px;
	color:gray;
	background-color:white;
	cursor:pointer;
}

.Button_Disable{
	border:1px solid #CCC;
	font-family: Calibri;
	font-size: 14px;
	color:#999999;
	background-color:gray;
	cursor:default;
}

.Master_Header_Text{
	font-family:calibri;
	font-size:20px;
	color:white;
	text-decoration:none;

	}
  
/************ Shortcut Buttons ************/
.Top_Menu_Bar
{
    border-bottom:1px solid #CCCCCC;
    }
    
.shortcut-button {
               
                display: block;
                width: 60px;
                margin: 0 0 10px 0;
                list-style:none;
                }

.shortcut-button span {
                display:block;             
                text-align: center;
                color: #555;
                }

.shortcut-button span img {
                margin-bottom: 5px;
                border:none;
                width:40px;
                height:40px;
                }
               
ul.shortcut-buttons-set
{
    list-style:none;
    }

ul.shortcut-buttons-set li {
                float: left;
                margin: 0px 0px 0px 0px;	
                }
                
ul.shortcut-buttons-set li a{
                text-decoration:none;	
                color:#EEEEEE;
                font-size: 10px;
                font-family:"Segoe UI";
	height: 57px;
}
                                
/************ Shortcut Buttons ************/
    
.LeftMenu_Head{
	font-family:"Segoe UI";
	font-size:16px;
	color:black;
	height:35px;
	margin-left:10px;
	margin-top:12px;
	padding-left:20px;
	background-image:url(../images/MenuRight.png);
	background-position:left;
	background-repeat:no-repeat;

	}
    
    .Left_Header_Link
    {
        color:Black;
        text-decoration:none;
        position:relative;
	    top:5px;
        }

.LeftMenu_Menu{
	font-family:"Segoe UI";
	height:26px;
	margin-left:24px;
	padding-left:20px;
	background-image:url(../images/MenuDown.png);
	background-position:left;
	background-repeat:no-repeat;
	}
	
.Left_Menu_Link{
    font-family:"Segoe UI";
    font-size:14px;
    color:gray;
    height:26px;
    position:relative;
    top:5px;
    text-decoration:none;
    }

.Fieldset_Container
{
    background-color:White;
    border:2px solid #EEEEEE;
    border-radius :10px 10px 10px 10px;
    padding:-20px 20px 20px 20px;
    margin:20px 0px 10px 10px;
    }
 .Fieldset_Header
 {
     font-family:"Segoe UI";
	    font-size:18px;
	    color:Gray;
	    position:relative;
	    /*top:-15px;*/
	    left:15px;
	    margin-top:-15px;
     }
    
.Caption_Input
{
    font-family:"Tahoma";
    font-size:12px;
	color:Black;
	background-color:White;
	padding-left:10px;
    }
    
 .Textbox_Form_Required{
	border:1px solid #CCC;
	font-family: Tahoma;
	font-size: 12px;
	height:22px;
	background-color:#fdeada;
}

 .Textbox_Form_Disable{
	border:1px solid #CCC;
	font-family: Tahoma;
	font-size: 12px;
	height:22px;
	background-color:Gray;
	color:White;
}

 .Textbox_Form_White{
	border:1px solid #CCC;
	font-family: Tahoma;
	font-size: 12px;
	height:22px;
	background-color:white;
}

 .Dropdown_Form_Required{
	border:1px solid #CCC;
	font-family: Tahoma;
	font-size: 12px;
	height:22px;
	background-color:#fdeada;
	
}

 .Dropdown_Form_White{
	border:1px solid #CCC;
	font-family: Tahoma;
	font-size: 12px;
	height:26px;
	background-color:White;
	
}

.NormalTextBlack
{
    font-family: Tahoma;
    font-size: 12px;
    color:Black;
    }
    
.Document_Status
{
    font-family: Tahoma;
    font-size: 25px;
    font-weight:bold;
    }
    
 .Grid_Header
 {
     font-family: Tahoma;
     font-size: 12px;
     color:White;
     text-align:center;
     /*background-color:#3333ff;*/
     background-color:Gray;
     padding:5px 5px 5px 5px ;
     height:25px;
     }
 
  .Grid_Detail
 {
     font-family: Tahoma;
     font-size: 12px;
     color:Black;
     background-color:White;
     padding:5px 5px 5px 5px ;
     height:25px;
     }

.Grid_Check_All
{
    font-family: Tahoma;
    font-size: 12px;
    border-radius:3px 3px 3px 3px;
    background-color: white;
    border:  1px solid #EEEEEE;
    width:40px;
    height:25px;
    cursor:pointer;
    }
     
     .Grid_Detail_Form
     {
         text-align: center; 
         font-size: 12px; 
         font-family: Tahoma; 
         border-bottom: #efefef 1px solid;
         }
         
.Grid_Detail_Required
{
     font-family: Tahoma;
     font-size: 12px;
     color:Black;
     background-color:#fdeada;
     padding:5px 5px 5px 5px ;
     height:25px;
    }

  .Grid_Radio
 {
     font-family: Tahoma;
     font-size: 12px;
     color:Black;
     background-color:White;
     padding:5px 5px 5px 5px ;
     height:25px;
     }
     
  .Grid_BG_White
 {
     font-family: Tahoma;
     font-size: 12px;
     color:Black;
     background-color:White;
     padding:5px 5px 5px 5px ;
     height:25px;
     }
     
  .Grid_Header_Small
 {
     font-family: Tahoma;
     font-size: 12px;
     color:white;
     text-align:center;
     background-color:#3333ff;
     padding:5px 5px 5px 5px ;
     height:25px;
     width:auto;
     }
     
/*************** Pagination ***************/

.pagenavigation {
                text-align:left;
                padding: 20px 0 5px 0;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 10px;
                width:100%;
                
                }
.pagenavigation a {
                margin: 0 5px 0 0;
                padding: 3px 6px;
                }

.pagenavigation a.number {
				border: 1px solid #ddd;
                }

.pagenavigation a.current {
                background:gray;
                border-color: #459300 !important;
                color: #fff !important;
                }
				
.pagenavigation a.current:hover {
				text-decoration: underline;
}
/*-----------Mail-------------*/
.file_attachment
{
    border:1px solid #67b6f9; 
    padding: 8px 4px 0px 4px;
    margin-left:5px;
    line-height:30px;
    background-color:#f0fcfa; 
}

/* Custom For JDA*/

.MainTable{
		font-size:11px;
		/*font-family: Calibri;*/
		color:#999999;
		border-right: 1px solid #3C3;
		border-bottom: 1px solid #3C3;
		}
	.MainTable td{
		border-left: 1px solid #3C3;
		border-top: 1px solid #3C3;
		}
	.StrechControl{
		font-size:12px; font-weight:bold; /*color:#F00; */
		width:100%;
		height:100%;
		background-color:Transparent;
		border:none;
		padding-left:0px;
		padding-top:0px;
		padding-right:0px;
		padding-bottom:0px;
		margin:0px 0px 0px 0px;
		min-height:25px;
		text-align:center;
		vertical-align:middle;
		}
	 textarea{
		 text-align:left !important;
		 }
	
	.file_list{
	    display:block;
	    padding:3px 5px 3px 5px; 
	    margin-left:10px; 
	    
	    border:1px solid #EEEEEE; 
	    background-color:#FFFFFF;
	}
	
	.file_list a{	    
	    text-decoration:none; 
	    padding-left:20px;
	    color:Black;    
	}
	
	.file_list{
	    display:block; 
	    float:left;
	}
	
	.file_list:hover{
	    background-color:#EFEFEF;
	}
	
	.pdf a{
	    background-image:url(../images/file/pdf.png);
	    background-repeat:no-repeat;
	    background-position:left;
	}
	
	.picture a{
	    background-image:url(../images/file/picture.png);
	    background-repeat:no-repeat;
	    background-position:left;
	}
	
	.excel a{
	    background-image:url(../images/file/excel.png);
	    background-repeat:no-repeat;
	    background-position:left;
	}
	
	.word a{
	    background-image:url(../images/file/word.png);
	    background-repeat:no-repeat;
	    background-position:left;
	}
	
	.invoice a{
	    background-image:url(../images/file/invoice.png);
	    background-repeat:no-repeat;
	    background-position:left;
	}
	
	.Master_Textbox
    {
        border:1px solid #cccccc;
        font-family: Calibri;
	    font-size: 14px;
	    Height:25px;
    }
    
    .Master_Table
    {
        border:1px solid #cccccc;
        font-family: Calibri;
	    font-size: 14px;
	    
    }
    
    .Master_Table tr:hover td
    {
        background-color:#efefef;
    }
    
    textarea {
        resize: none;
    }
    
    .Grid_Link{
        color:#666666;
        text-decoration:none;
    }
    